<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Graded Assignment - Tools for Data Science

### Introduction
This Jupyter notebook will serve as my assignment to be submitted for peer review. There are a total of ~13 exercises, each of which will either answer a topic question or showcase  \
python skills that are typically utilized day-to-day for a practicing Data Scientist.

See below for the remainder of the assignment.

### List of Data Science Languages
1. Python
2. R
3. SQL
4. C++
5. Julia
6. Scala
7. Go
8. etc.

### List of Data Science Tools
1. Data Management Tools
    * MySQL
    * PostgreSQL
    * MongoDB
    * Apache 
    * CouchDB
2. Data integration and transformation Tools
    * Apache AirFlow
    * KubeFlow
    * Apache Kafka
    * Apache Nifi
    * Apache SparkSQL
3. Data Visualization Tools are 
    * Pixie Dust
    * Hue
    * Kibana
    * Apache Superset
4. Model deployment tools 
    * Apache PredictionIO
    * Seldon
    * Kubernetes
    * Redhat OpenShift
    * Mleap
    * TensorFlow service
5. Model monitoring Tools 
    * ModelDB
    * Prometheus
    * IBM AI Fairness 360
    * IBM Adversarial Robustness 360 Toolbox
    * IBM AI Explainability 360
    
There are a number of various other DS tools that are highlighted here.

### Arightmetic Expression Examples

In [1]:
5 + 6

11

In [5]:
x = 100
y = 0.3333
z = x**2 + 2 * x + y * x + y ** 2
z

10233.44108889

In [3]:
10 % 2

0

In [4]:
(6 - 3) * 2 / 6 + 100

101.0

### Multiply and Adding Numbers

In [6]:
6 * 9

54

In [7]:
7 + 143

150

In [8]:
8 * 8 + 29 + 6 * 10000

60093

### Convert minutes to hours

In [14]:
# To convert minutes to hours - 60 minutes in 1 hour. Essentially it is the ratio of minutes / 60 minutes = 1 hr
minutes = 60 
conversion = 60 # 60 minutes for 1 hr
hours = minutes / conversion
print(f'Number of minutes: {minutes} min')
print(f'Converted minutes to hours: {hours} hr')

Number of minutes: 60 min
Converted minutes to hours: 1.0 hr

In [15]:
minutes = 180 # Duration of a random movie
hours = minutes / conversion
print(f'Number of minutes: {minutes} min')
print(f'Converted minutes to hours: {hours} hr')

Number of minutes: 180 min
Converted minutes to hours: 3.0 hr

### Objectives
1. Rule the world
2. Make and eat the perfect grilled cheese
3. Hold 1000 USD in 1 dollar bills
4. Ask ChatGPT 982509867120981 questions 
5. Ride a unicycle
6. Complete the entire IBM DS Certification 
7. Untie everyone in the world's sneakers
8. Catch a touchdown pass from Troy Aikman 
9. Run a marathon blindfolded 
10. Take off blindfold

## Author - Dylan Ogden